
@import "pages/view.css";

@import "pages/create.css";
@import "pages/home.css";
@import "partials/nav.css";
@import "pages/signup.css";
@import "pages/view_book.css";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poiret+One&display=swap');


:root {
    --bk-color: #1fb9d2;
    --bk-color-dark: #235789;
}

html{
    height: 100vh;
}

body {
    margin: 0;
    min-height: 100%;
    color: white;

    font-family: Bellota Text, serif;
    /*background-color: #d9f1ff;*/
    /*background-color: #235789;*/
    background-color: #ffffff;
    /*background-color: #76E5FC;*/
}

/*
HEADER
*/

header,
footer {
    /*background-color: rgb(91, 145, 210);*/
    /*background-color: #235789;*/
    /*background-color: #76E5FC;*/

    background-color: var(--bk-color);

}

header {
    display: flex;
    justify-content: end;
    align-items: center;
    /*padding: 0 260px*/
}

header h3 {
    color: #ffffff;
    margin: 0;
    font-weight: bold;
}

header img {
    height: 40px;
}

.hd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;

    position: absolute;
    left: 0;
}

/*

MAIN

*/

main {


    min-height: 90vh;
    /*background-color: rgb(185, 218, 253);*/
    /*background-color: #97D2FB;*/
/*background-color: #76E5FC;*/
}

.center {
    display: flex;

    flex-direction: row;

    justify-content: center;
    align-items: center;

    height: 100vh;
}


/*

FOOTER

*/

footer {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 0;
    padding: 5px 20px;
    text-align: right;

}

.ftr {
    display: flex;

    justify-content: center;
    align-items: center;
    margin: 0;

    padding: 0;
}

.ftr li {
    list-style-type: none;
    padding: 20px;
}

.ftr a {
    text-decoration: none;
    color: white;
}

.ftr a:hover {
    color: #76E5FC;

}


